table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    width: 60%;
    border: 3px solid black;
    border-radius: 20px;
    overflow: hidden;
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
th:first-child {
    border-top-left-radius: 15px;
}
th:last-child {
    border-top-right-radius: 15px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}